* {
  margin: 0;
  padding: 0;
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(93, 93, 95);
}

.board {
  width:calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 10px solid rgb(62, 63, 68);
}
.cell {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cell img {
  position: relative;
  width: 48px;
  height: 48px;
}

.black {
  background-color: rgb(67, 67, 77);
}
.white {
  background-color: rgb(196, 173, 130);
}
.selected{
	background-color:rgb(85, 51, 76)
}
.available{
	height: 12px;
	width:12px;
	border-radius: 50%;
	background-color:rgb(50, 119, 50);
}
